*~
old*
foo
bar
diff.html
orig.txt
webrtc.txt
orig.html
.DS_Store
draft-ietf-*
ladder-2party-full.png
#ladder-2party-full.svg
ladder-2party-simple.png
#ladder-2party-simple.svg
ladder-mcu-simple.png
#ladder-mcu-simple.svg
